@font-face {
  font-family: "SocialIco";
  src: url("../font/Socialico.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(../fonts/MontserratAlt-Medium.otf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.otf);
}
.width {
  padding: 0 10.5%;
  margin: 0 auto;
}
.headerH {
  font-family: "Montserrat-Bold", sans-serif;
  color: #494949;
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 35px;
  text-align: center;
}
.button {
  background-color: #0087be;
  box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
  width: 166px;
  height: 47px;
  border: none;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18.25px;
  transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6), background-color 2s ease-out;
}
.button:hover {
  background-color: #180669;
  cursor: pointer;
  transform: scale(1.5);
}
@keyframes best_img {
  0% {
    transform: rotate(0deg) scale(0);
  }
  33% {
    transform: rotate(45deg) scale(1.33);
  }
  66% {
    transform: rotate(-45deg) scale(1.66);
  }
  0% {
    transform: rotate(0deg) scale(0);
  }
}
.best .best_grid div:nth-child(n) .best_div:hover {
  animation: best_img 2s linear infinite;
}
.best .best_grid div:nth-child(n) .best_img:hover {
  animation: best_img 2s linear infinite;
}
