*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
header,
nav,
main,
aside,
footer {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
@font-face {
  font-family: "SocialIco";
  src: url("../font/Socialico.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: "Montserrat Medium";
  src: url(../fonts/MontserratAlt-Medium.otf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.otf);
}
.width {
  max-width: 1200px;
  margin: 0 auto;
}
.headerH {
  font-family: "Montserrat-Bold", sans-serif;
  color: #494949;
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 35px;
  text-align: center;
}
.button {
  background-color: #0087be;
  box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
  width: 166px;
  height: 47px;
  border: none;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18.25px;
}
.button:hover {
  background-color: #180669;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
}
.container h2 {
  font-family: "Montserrat-Bold", sans-serif;
  color: #494949;
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 35px;
  text-align: center;
}
.container p {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #6a6a6a;
}
.container button {
  background-color: #0087be;
  box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
  width: 166px;
  height: 47px;
  border: none;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 18.25px;
}
.container button:hover {
  background-color: #180669;
  cursor: pointer;
}
header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header .nav {
  display: grid;
  margin: 90px 0 30px;
  grid-gap: 60px;
  grid-template-columns: repeat(4, 1fr);
}
header .nav .soc div {
  width: max-content;
  padding-left: 50px;
}
header .nav div:nth-child(2) {
  background: url(../img/h-mail.png) center center no-repeat;
}
header .nav div:nth-child(3) {
  background: url(../img/h-time.png) center center no-repeat;
}
header .nav div:nth-child(4) {
  background: url(../img/h-tel.png) center center no-repeat;
}
header .nav div:nth-child(n + 2) {
  width: 51px;
  height: 51px;
  background-color: #1a9bdc;
  border-radius: 50%;
  padding: 7px 19px;
}
header .hr {
  height: 2px;
  margin-top: 20px;
  background-color: rgba(194, 194, 194, 0.31);
}
header .menulist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .menulist .menu li {
  float: left;
  padding: 0 20px;
}
header .menulist .menu li:first-child {
  padding-left: 0;
}
header .menulist .menu li:last-child {
  padding-right: 0;
}
header .menulist .menu li a {
  text-decoration: none;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #6c6c6c;
  line-height: 90px;
}
header .menulist .menu li a:hover {
  color: #262626;
}
main {
  width: 100%;
}
.slider {
  width: calc(100% + 40px);
  width: 100%;
  position: relative;
  background: url(../img/slider.jpg) center center no-repeat;
  background-size: cover;
  height: 640px;
}
.slider .slid_baner {
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.slider .slid_baner .baner {
  text-align: center;
  color: #474747;
  padding-left: 20px;
}
.slider .slid_baner .baner h1 {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #474747;
  margin-bottom: 37px;
}
.slider .slid_baner .baner p {
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  color: #3f3f3f;
  margin-bottom: 42px;
}
.slider .logo {
  position: absolute;
  left: 51.5%;
  bottom: 11.5%;
}
.servic {
  width: 100%;
  background: linear-gradient(to right, #43b1d2 0%, #37c3a8 100%);
}
.servic .servic_grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
}
.servic .servic_grid > :nth-child(1) .servic_img {
  background: url(../img/ser-1.png) no-repeat center center;
}
.servic .servic_grid > :nth-child(2) .servic_img {
  background: url(../img/ser-2.png) no-repeat center center;
}
.servic .servic_grid > :nth-child(3) .servic_img {
  background: url(../img/ser-3.png) no-repeat center center;
}
.servic .servic_grid > :nth-child(4) .servic_img {
  background: url(../img/ser-4.png) no-repeat center center;
}
.servic .servic_grid div {
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.servic .servic_grid div .servic_img {
  width: 75px;
  height: 75px;
  padding: 0px;
}
.servic .servic_grid div h2 {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 25px 0;
}
.servic .servic_grid div p {
  font-size: 14px;
  font-family: "Open Sans Regular", sans-serif;
  text-align: center;
  color: #fff;
}
.why {
  width: 100%;
  padding-top: 111px;
}
.why .us {
  margin-bottom: 25px;
}
.why .us h2 {
  margin-bottom: 31px;
}
.why .prof {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(337px, auto) 1fr;
  grid-gap: 80px;
  justify-items: center;
  align-items: center;
}
.why .prof div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why .prof div h2 {
  background: url(../img/why1.png) no-repeat left center;
  font-size: 30px;
  letter-spacing: -0.75px;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 95px;
  line-height: 75px;
  color: #6f6f6e;
}
.why .prof div p {
  text-align: left;
}
.why .prof div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
.best {
  width: 100%;
  background: url(../img/best.png) center center no-repeat;
  min-height: 792px;
  background-size: cover;
}
.best .best_grid {
  max-width: 1200px;
  margin: 0 auto;
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.best .best_grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.best .best_grid div:nth-child(1) {
  background: url(../img/best1.png) top center no-repeat;
}
.best .best_grid div:nth-child(2) {
  background: url(../img/best2.png) top center no-repeat;
}
.best .best_grid div:nth-child(3) {
  background: url(../img/best3.png) top center no-repeat;
}
.best .best_grid div:nth-child(4) {
  background: url(../img/best4.png) top center no-repeat;
}
.best .best_grid div h2 {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 60.5px;
  font-weight: 500;
  letter-spacing: -1.51px;
  padding-top: 120px;
  color: #ffffff;
}
.best .best_grid div .p {
  width: 84px;
  height: 6px;
  background-color: #ffffff;
  margin: 27px auto;
}
.best .best_grid div p {
  font-family: Montserrat;
  font-size: 25px;
  letter-spacing: 0.63px;
  color: #ffffff;
}
.text {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text .text_gr {
  max-width: 1200px;
  margin: 0 auto;
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-areas: "works works our" "img-tx1 img-tx2 spoiler1" "img-tx1 img-tx2 spoiler2" "butMore butMore .";
}
.text .text_gr h2,
.text .text_gr p {
  text-align: left;
}
.text .text_gr .works {
  grid-area: works;
}
.text .text_gr .our {
  grid-area: our;
}
.text .text_gr .img-tx1 {
  grid-area: img-tx1;
}
.text .text_gr .img-tx2 {
  grid-area: img-tx2;
}
.text .text_gr .spoiler1 {
  grid-area: spoiler1;
}
.text .text_gr .spoiler1 .spol1 {
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
  border-radius: 30px;
  padding-left: 60px;
  box-sizing: border-box;
  background: url(../img/heartPoint.png) no-repeat 10px center, #0087be;
}
.text .text_gr .spoiler2 {
  grid-area: spoiler2;
}
.text .text_gr .spoiler2 .spol2 {
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #474747;
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
  border-radius: 30px;
  padding-left: 60px;
  box-sizing: border-box;
  background: url(../img/heartPoint.png) no-repeat 10px center, #e2e2e2;
  margin-bottom: 12px;
}
.text .text_gr .butMore {
  grid-area: butMore;
  text-align: center;
}
.gal {
  background: url(../img/gal-0.png) center center no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}
.gal .gal_t {
  text-align: center;
  margin-bottom: 55px;
}
.gal .gal_t h2 {
  color: #ffffff;
}
.gal .gal_t p {
  color: #ffffff;
}
.gal .gal-gr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 35px;
}
.oul {
  padding-top: 148px;
  padding-bottom: 134px;
}
.oul .oul_t {
  text-align: center;
  margin-bottom: 84px;
}
.oul .oul_gr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.oul .oul_gr .oul_cont {
  text-align: center;
}
.oul .oul_gr .oul_cont div h2 {
  font-size: 25px;
  font-weight: 500;
  color: #6f6f6e;
  margin: 33px 0 15px;
}
.oul .oul_gr .oul_cont div p {
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: -0.45px;
  padding-bottom: 25px;
}
.bar {
  background-color: #e2e2e2;
  padding-top: 80px;
  padding-bottom: 55px;
}
.bar div {
  float: left;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #494949;
}
.bar .but {
  float: right;
}
footer {
  display: grid;
  padding-top: 115px;
  background-color: #171717;
}
footer .foo_gr {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: minmax(auto, 330px);
}
footer .foo_gr div:not(:first-child) li {
  display: none;
}
footer h3 {
  margin-bottom: 70px;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.09;
  letter-spacing: 0.55px;
  color: #ffffff;
}
footer ul,
footer input,
footer button,
footer textarea {
  opacity: 0.51;
  font-family: OpenSans;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.43px;
  color: rgba(255, 255, 255, 0.51);
}
footer input,
footer button,
footer textarea {
  background-color: #171717;
  border-bottom: 1px solid #c2c2c2;
  width: 231px;
}
footer input:not([type="submit"]) {
  width: 231px;
}
footer textarea {
  resize: vertical;
}
footer img {
  padding: 0 200px;
  margin-bottom: 108px;
}
footer .foo {
  padding: 55px;
  height: 130px;
  background-color: #1a1a1a;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: 0.33px;
  text-align: center;
  color: #615555;
}
