*,
*:before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	background: #ccc;
	height: 100%;
	font-family: Arial, sans-serif;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
@media (max-width: 1280px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		padding: 0;
		max-width: none;
	}
}
