main {
  width: 100%;
}
.slider {
  width: 100%;
  position: relative;
  background: url(../img/slider.jpg) center center no-repeat;
  background-size: cover;
  height: 640px;
}
.slider .slider-baner {
  padding: 0 10.5%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 680px) {
  .slider .slider-baner {
    align-items: end;
    padding: 30px 15px;
  }
}
.slider .slider-baner .baner {
  text-align: center;
  color: #474747;
  padding-left: 20px;
}
.slider .slider-baner .baner h1 {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #474747;
  margin-bottom: 37px;
}
.slider .slider-baner .baner p {
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  color: #3f3f3f;
  margin-bottom: 42px;
}
@media (max-width: 680px) {
  .slider .slider-baner .baner {
    max-height: 462px;
  }
}
.slider .logo {
  position: absolute;
  left: 51.5%;
  bottom: 11.5%;
}
